{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
</head>
<body>
{% block nav %}
    <nav class="py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">

            <a class="py-2 d-none d-md-inline-block" href="{% url 'home' %}">Home</a>

            {% if user.is_authenticated %}
                <a class="py-2 d-none d-md-inline-block" href="{% url 'upload' %}">Upload File</a>
                <a class="py-2 d-none d-md-inline-block" href="{% url 'profile' %}">Profile</a>
                <a class="py-2 d-none d-md-inline-block" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="py-2 d-none d-md-inline-block" href="{% url 'login' %}">Login</a>
            {% endif %}

        </div>
    </nav>
{% endblock nav %}

{% if form and form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% block content %}
{% endblock content %}
</body>
</html>