{% extends 'core/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Home page</h1>
            <p class="lead">Login and try to play with the above buttons.</p>
        </div>
    </section>
{% endblock content %}