{% extends 'core/base.html' %}

{% block title %}Login page{% endblock title %}

{% block content %}
    <div class="form">
        <div class="panel">
            <h2>User Login</h2>
            <p>Please enter your email and password</p>
        </div>

        <form action="{% url 'login' %}" method="post" id="Login">
            {% csrf_token %}

            <div class="form-group">
                <input type="email" class="form-control" name="username" placeholder="Email Address" required>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>

            <div class="form-group">
                <a href="{% url 'password_reset' %}">Forgot password?</a>
            </div>

            <button type="submit" class="btn btn-primary form-btn">Login</button>
        </form>
    </div>
{% endblock content %}