{% extends 'core/base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}
    <div class="form">
        <div class="panel">
            <h2>Your Profile Info</h2>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="email" value="{{ user.email }}" readonly>
        </div>

    </div>
{% endblock content %}