{% extends 'core/base.html' %}

{% block title %}Reset password{% endblock title %}

{% block content %}
    <div class="form">
        <div class="panel">
            <h2>Reset password</h2>
            <p>Please enter your email address, we will email you instructions.</p>
        </div>

        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}

            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email Address" required>
            </div>

            <button type="submit" class="btn btn-primary form-btn">Reset</button>
        </form>
    </div>
{% endblock content %}