{% extends 'core/base.html' %}

{% block title %}Reset done{% endblock title %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">An email has been sent with instructions for setting a new password.</h1>
        </div>
    </section>
{% endblock content %}