{% extends 'core/base.html' %}

{% block title %}Reset confirm{% endblock title %}

{% block content %}
    <div class="form">
        {% if validlink %}
            <div class="panel">
                <h2>Password reset confirm</h2>
                <p>Please enter new password and password confirmation</p>
            </div>

            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <input type="password" class="form-control" name="new_password1" placeholder="New password"
                           required>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="new_password2" placeholder="Password confirmation"
                           required>
                </div>

                <button type="submit" class="btn btn-primary form-btn">Change password</button>
            </form>
        {% else %}
            <div class="panel">
                <h2>The password reset link is invalid</h2>
                <p>possibly because it has already been used, please request a new password reset</p>
            </div>
        {% endif %}
    </div>
{% endblock %}