{% extends 'core/base.html' %}

{% load static %}

{% block title %}Success{% endblock title %}

{% block nav %}{% endblock nav %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Redirecting ...</h1>
        </div>
    </section>
    <script type="text/javascript" src="{% static 'core/js/success.js' %}"></script>
{% endblock content %}