{#{% extends 'core/base.html' %}#}
{##}
{#{% load static %}#}
{##}
{#{% block title %}Upload a file{% endblock title %}#}
{##}
{#{% block content %}#}
{#    <div>#}
{#        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <input type="file" name="file">#}
{#            <button type="submit">Upload</button>#}
{#        </form>#}
{#    </div>#}
{#{% endblock content %}#}

{% extends 'core/base.html' %}

{% load static %}

{% block title %}Upload a file{% endblock title %}

{% block content %}
    <div class="form">

        <div class="panel">
            <h2>Upload file</h2>
            <p>Please choose file to upload</p>
        </div>

        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <input type="file" class="form-control-file" name="file" required>
            </div>

            <button type="submit" class="btn btn-primary form-btn">Upload</button>
        </form>
    
    </div>
{% endblock content %}