.form {
    margin: auto;
    max-width: 50%;
    padding: 10%;
}

.form-btn {
    width: 100%;
    height: 30%;
}

.panel {
    text-align: center;
}

.panel h2 {
    color: #444;
    font-size: 1.5rem;
}

.panel p {
    color: #777;
    font-size: 0.8rem;
}

.alert {
    margin: auto 10%;
}